body {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    box-shadow: 0px 0px 10px #888888;
    border-radius: 0px 0px 5px 5px;
    margin-top: 0px;
    border-top: none;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

#main {
    padding: 1% 5%;
    display: inline-block;
    width: 90%;
    background: #F2F2F2;
}

#navigation {
    width: 100%;
    border: none;
    height: 40px;
    background: linear-gradient(#D1D1D1, #F2F2F2);
}

#navigation div {
    float: left;
    height: inherit;
    line-height: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

#headshot {
    float: right;
}

#text {
    float: left;
    width: 65%;
}
